#main {
height: 900px;
width: 900px;
background-color:black;
border: 1px, solid, black;
}
#paint {
height: 100px;
width: 300px;
background-color:
border: 1px, solid, black;
}
#field {
height: 800px;
width: 898px;
background-color:
border: 1px, solid, black;
}
.square {
height:
width:
border: 1px, solid, black;
}